<!DOCTYPE html>
<html lang="en" xmlns:th="https>//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de Personas</title>
</head>
<body>
    <h1>Listado de Personas</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Accion</th>
        </tr>
        <tr th:each="persona:${personas}">
            <td th:text="${persona.id}"></td>
            <td th:text="${persona.nombre}"></td>
            <td th:text="${persona.edad}"></td>
            <td>
                <a th:href="@{/personas/actualizar/{id}(id=${persona.id})}">Editar</a>
                <a th:href="@{/personas/eliminar/{id}(id=${persona.id})}">Eliminar</a>
            </td>
        </tr>
    </table>
    <a th:href="@{/personas/crear}">Crear Persona</a>
</body>
</html>